hr {
    margin: 0;
}

.rodape {
    background: var(--cor-branca);
    padding: 2em 1em; 
}

.rodape-texto {
    font-weight: 400;
}

.rodape-lista {
    display: none;
}

.icone-descricao-texto:hover {
    color: var(--cor-mostarda);
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        background: var(--cor-rodape);
    }

    .rodape-texto {
        font-size: 24px;
        font-weight: 400;
    }

    .rodape-lista {
        display: block;
    }

    .educacao-titulo {
        font-size: 14px;
        color: var(--cor-cinza-rodape);
        padding-bottom: 1em;
    }

    .rodape-lista-item {
        display: flex;
        align-items: center;
        padding: 0.6em 0;
    }

    .icone-descricao-texto {
        font-size: 14px;
        color: #474646;
        text-decoration: none;
        padding-left: 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3em 0;
    }
    
    .rodape-lista {
        border-left: 1px solid #858585;
        padding-left: 1em;
    }
}